@import url(./main.scss);

@mixin max-screen($maxWidth) {
    @media (max-width:$maxWidth) {
        @content
    }
}

body {
    width: 100%; height: 100dvh; overflow:hidden;
}
.App {
    position: relative; width: 100%; height: 100dvh;
    background: url(../../public/assets/images/visual.jpg?ver=20241012) no-repeat center center / cover;
}


header {

     padding: 20px; width: 250px; display: flex; flex-wrap: wrap;

    .folderIcon {
        /*width: calc(100%/3);*/ width: 90px; aspect-ratio: 1/1; margin-bottom: 10px; padding : 10px 5px; border-radius:5px;
        
        &:hover {
            background : rgba(255,255,255,0.08)
        }
    
        img {width: 100%; height:100%; object-fit: contain;}
    
    }

}


footer {
    position: fixed; display: flex; align-items: center; justify-content: space-between; padding: 0 20px; bottom: 0; left: 0; width: 100%; height: 55px; border-top: 1px solid #b1babc; background-color: #d9e8ec; z-index:3;
   
    .window {
        img {width: 26px;}
    }
    
    .tabs {
        
        display: flex;
        
        .folderIcon {
            position: relative; display: block; width: 45px; height: 45px; border-radius: 5px; transition: 0.3s;
        
            &:hover , &.on {
                box-shadow: 0 0 0.4px rgba($color: #b1babc, $alpha: 0.8); background-color: #e7f4f8;
                
            }
    
            &.on::after {
                content: ""; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 15px; height: 3px; border-radius: 3px 3px 0 0; background-color: #159bb9;
            }
            
            img {width: 65%; height: 90%; object-fit: contain;}
        
           
            & + .folderIcon {
                margin-left: 10px;
            }
          
        }
    }
    
    .date {
        
        span {
            display: block; white-space: pre; line-height: 1.3; font-size: 12px; text-align : right;
            
        }
    }
    
    @include max-screen(600px) {
        
        justify-content: center;
        
        .date, .window {display: none;}
    }

}