@font-face {
  font-family: "NotoSansCJKkr";
  font-weight: 100;
  src: url("./NotoSansCJKkr/NotoSansCJKkr-Thin.eot");
  src: url("./NotoSansCJKkr/NotoSansCJKkr-Thin.eot") format("embedded-opentype"), url("./NotoSansCJKkr/NotoSansCJKkr-Thin.woff") format("woff"), url("./NotoSansCJKkr/NotoSansCJKkr-Thin.otf") format("truetype");
}
@font-face {
  font-family: "NotoSansCJKkr";
  font-weight: 300;
  src: url("./NotoSansCJKkr/NotoSansCJKkr-Light.eot");
  src: url("./NotoSansCJKkr/NotoSansCJKkr-Light.eot") format("embedded-opentype"), url("./NotoSansCJKkr/NotoSansCJKkr-Light.woff") format("woff"), url("./NotoSansCJKkr/NotoSansCJKkr-Light.otf") format("truetype");
}
@font-face {
  font-family: "NotoSansCJKkr";
  font-weight: 400;
  src: url("./NotoSansCJKkr/NotoSansCJKkr-DemiLight.eot");
  src: url("./NotoSansCJKkr/NotoSansCJKkr-DemiLight.eot") format("embedded-opentype"), url("./NotoSansCJKkr/NotoSansCJKkr-DemiLight.woff") format("woff"), url("./NotoSansCJKkr/NotoSansCJKkr-DemiLight.otf") format("truetype");
}
@font-face {
  font-family: "NotoSansCJKkr";
  font-weight: 500;
  src: url("./NotoSansCJKkr/NotoSansCJKkr-Regular.eot");
  src: url("./NotoSansCJKkr/NotoSansCJKkr-Regular.eot") format("embedded-opentype"), url("./NotoSansCJKkr/NotoSansCJKkr-Regular.woff") format("woff"), url("./NotoSansCJKkr/NotoSansCJKkr-Regular.otf") format("truetype");
}
@font-face {
  font-family: "NotoSansCJKkr";
  font-weight: 600;
  src: url("./NotoSansCJKkr/NotoSansCJKkr-Medium.eot");
  src: url("./NotoSansCJKkr/NotoSansCJKkr-Medium.eot") format("embedded-opentype"), url("./NotoSansCJKkr/NotoSansCJKkr-Medium.woff") format("woff"), url("./NotoSansCJKkr/NotoSansCJKkr-Medium.otf") format("truetype");
}
@font-face {
  font-family: "NotoSansCJKkr";
  font-weight: 700;
  src: url("./NotoSansCJKkr/NotoSansCJKkr-Black.eot");
  src: url("./NotoSansCJKkr/NotoSansCJKkr-Black.eot") format("embedded-opentype"), url("./NotoSansCJKkr/NotoSansCJKkr-Black.woff") format("woff"), url("./NotoSansCJKkr/NotoSansCJKkr-Black.otf") format("truetype");
}
@font-face {
  font-family: "NotoSansCJKkr";
  font-weight: 900;
  src: url("./NotoSansCJKkr/NotoSansCJKkr-Bold.eot");
  src: url("./NotoSansCJKkr/NotoSansCJKkr-Bold.eot") format("embedded-opentype"), url("./NotoSansCJKkr/NotoSansCJKkr-Bold.woff") format("woff"), url("./NotoSansCJKkr/NotoSansCJKkr-Bold.otf") format("truetype");
}
/*SCDream*/
@font-face {
  font-family: "SCDream";
  font-weight: 100;
  src: url("./SCDream/SCDream1.otf") format("openType");
}
@font-face {
  font-family: "SCDream";
  font-weight: 200;
  src: url("./SCDream/SCDream2.otf") format("openType");
}
@font-face {
  font-family: "SCDream";
  font-weight: 300;
  src: url("./SCDream/SCDream3.otf") format("openType");
}
@font-face {
  font-family: "SCDream";
  font-weight: 400;
  src: url("./SCDream/SCDream4.otf") format("openType");
}
@font-face {
  font-family: "SCDream";
  font-weight: 500;
  src: url("./SCDream/SCDream5.otf") format("openType");
}
@font-face {
  font-family: "SCDream";
  font-weight: 600;
  src: url("./SCDream/SCDream6.otf") format("openType");
}
@font-face {
  font-family: "SCDream";
  font-weight: 700;
  src: url("./SCDream/SCDream7.otf") format("openType");
}
@font-face {
  font-family: "SCDream";
  font-weight: 800;
  src: url("./SCDream/SCDream8.otf") format("openType");
}
@font-face {
  font-family: "SCDream";
  font-weight: 900;
  src: url("./SCDream/SCDream9.otf") format("openType");
}/*# sourceMappingURL=font.css.map */